.exp-welcome-container {
    padding: 10px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.exp-welcome-container h2 {
    font-size: 50px;
    color: var(--exp-color-font-secondary);
}

.exp-welcome-btn {
    margin-top: 10px;
    margin-bottom: 50px;
    width: 200px;
    font-size: 16px;
}