.exp-btn-primary {
    padding: 10px;
    border: 3px solid var(--exp-color-border-secondary);
    border-radius: 10px;
    color: var(--exp-color-bg-button);
    text-align: center;
    font-weight: 700;
    cursor: pointer;
    background-color: var(--exp-color-font-button);
}