@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

:root {
    --exp-color-bg-primary: #FFF;
    --exp-color-bg-secondary: #ecf9f2;
    --exp-color-bg-tertiary: #c9c9c9;
    --exp-color-bg-quartiary: #339966;

    --exp-color-font-primary: #FFF;
    --exp-color-font-secondary: #000;
    --exp-color-font-tertiary: #808080;

    --exp-color-border-primary: #FFF;
    --exp-color-border-secondary: #339966;
    --exp-color-border-tertiary: #d9d9d9;

    --exp-color-bg-button: #339966;
    --exp-color-font-button: #FFF;

    --exp-color-gradient-primary: #339966;
    --exp-color-gradient-secondary: #FCFCFC;

    --exp-color-placeholder: #d9d9d9;
    --exp-color-error: #f33f33;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans";
}
  
a,
a:hover {
    text-decoration: none;
    color: unset;
}

html,
body {
    background-color: var(--exp-color-bg-primary);
}
  
.exp-container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}